/* Variables */
:root{
    --mainColor: #0077C7;
    --mainLightColor: #58A2D4;
}

/* Polices  */
@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'robotoregular', sans-serif;
}
/* --------------------HEADER-----------------  */
header{
    width: 100%;
    background-color: var(--mainColor);
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
/* ------------NAVIGATION ------------*/
.blog-title{
    font-size: 1.5rem;
    margin: 1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    color: white;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-links{
    display: none;
    width: 100%;
}
.navbar-links.active{
    display: flex;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.navbar-links li{
    list-style: none;
    text-align: center;
}
.navbar-links li:hover{
    background-color: var(--mainLightColor);
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    padding: 0.5rem 1rem;
    
}



/*--------------------- MENU BURGER --------------------------- */
.btn-burger{
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
.btn-burger .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* ----------------FOOTER -------------------------- */



/* ----------------MEDIA QUERIES----------------- */

@media screen and (min-width: 1024px){
    .btn-burger {
        display: none;
    }
    .navbar{
        flex-direction: row;
        align-items: center;
    }
    .navbar-links{
        display: flex;
        width: auto;
    }
    .navbar-links ul{
        flex-direction: row;
    }
    
}