/* Variables */
:root{
    --mainColor: #0077C7;
    --mainLightColor: #58A2D4;
    --mainSuperLightColor: #a7d0ec;
    --bodyColor: #f4f7f7;
    
}

/* Polices  */
@font-face {
    font-family: 'robotoregular';
    src: url('app/Public/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('app/Public/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ----------------TEMPLATE-----------------  */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'robotoregular', sans-serif;
    height: 100%;
    position: relative;
    background-color: var(--bodyColor);
}

h1{
    font-size: 1.5rem;
    margin: 2rem 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
/* --------------------HEADER-----------------  */
header{
    width: 100%;
    background-color: var(--mainColor);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
#main-dashboard-user{
    margin-top: 100px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* -------------------FOOTER ------------- */
footer{
    background-color: var(--mainColor);
    position: absolute;
    width: 100%;
}

/* bouton remonter haut de page  */
.btn-arrow {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.43);
    color: #333;
    opacity: 0;
  }
  .btn-arrow i {
    font-size: 1.4rem;
}
.btn-arrow:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transition:all ease-in 0.2s;
}
.btn-arrow.invisible{
    bottom: -35px;
    opacity: 0;
    transition:all ease-in 0.5s;
}
.btn-arrow.visible{
    bottom: 20px;
    opacity: 1;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons li{
    padding: 20px;
}

/* animations icones  */
.icons i {
    color: white;
    transition: all 0.3s ease-out;
    font-size: 1.6rem;
  }
  .icons a {
    display: inline-block;
  }
  .icons a::before {
    transform: scale(1);
    content: "";
    border-radius: 100%;
    display: block;
    background: var(--gris-foncé);
  }
  .icons a:hover::before {
    transform: scale(0);
    transition: transform 0.3s ease-in;
  }
  .icons a:hover i {
    transform: scale(2.2);
    color: var(--gris-foncé);
    background: var(--gris-foncé);
    -webkit-background-clip: text; /*l'arriere plan est limité au texte en premier plan*/
    -webkit-text-fill-color: white; /*définie la couleur utilisée pour dessiner le contenu des lettres qui forment un texte*/
    transition: all 0.3s ease-in;
  }
.copyright{
    text-align: center;
    padding-bottom: 1rem;
    color: white;
}
.copyright a{
    color: white;
}


/* ------------NAVIGATION ------------*/
.blog-title{
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
    display: block;
}
.barre-connexion{
    background-color: black;
}
.barre-connexion ul{
    display: flex;
    justify-content: center;
}
.barre-connexion ul li{
    padding: 10px 15px;
    font-size: 0.9rem;
}
.barre-connexion a{
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    color: white;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-links{
    display: none;
    width: 100%;
}
.navbar-links.active{
    display: flex;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.navbar-links li{
    text-align: center;
}
.navbar-links li:not(:last-child){
    margin-right: 5px;
}
.navbar-links li:hover{
    background-color: var(--mainLightColor);
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    padding: 0.5rem 1rem;  
}


/*--------------------- MENU BURGER --------------------------- */
#btn-burger{
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
#btn-burger .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/* -----------------PAGE HOME-------------------  */

/* PRESENTATION  */
#presentation{
    margin: 10px;
    text-align: center;
}
.bloc-presentation h1{
    color: var(--mainColor);
    font-size: 2rem;
}
.bloc-presentation img{
    width: 100%;
    margin-bottom: 1rem;
}

/* DERNIERS ARTICLES  */
#last-articles{
    margin: 10px;
    text-align: center;
}
#last-articles h2{
    font-size: 1.6rem;
    margin: 4rem 0 2rem;
}
.article-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;

}
.article-card{
    background-color: white;
    border-radius: 20px;
    transition: 0.5s;
}
.article-card:hover{
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}
.article-image{
    overflow: hidden;
    /* height: 200px; */
}
.article-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
.article-content{
    padding: 2rem;
}
.article-title{
    margin: 1rem 0;
    color: var(--mainColor);
    font-size: 1.3rem;
}
.accroche{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
}

/* BOUTON VOIR ARTICLES  */
.btn-form{
    display: block;
    padding: 1rem 2rem;
    background-color: var(--mainColor);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    margin: 20px auto;
    text-align: center;
    width: 67%;
}
#last-articles a:hover{
    background-color: var(--mainLightColor);
}


/* -----------------------PAGE BLOG----------------------------  */
.bar-search{
    display: flex;
    justify-content: center;
}
.bar-search input{
    height: 30px;
    margin-right: 10px;
}
.input-search{
    width: 60%;
    padding: 10px;
}
.btn-search{
    background-color: var(--mainColor);
    color: white;
    padding: 0 10px;
    width: 25%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-search:hover{
    transition: all 0.1s ease;
    transform: scale(1.02);
}
.content-article{
    padding: 10px;
}
.date-article {
    font-style: italic;
}
#bloc-articles{
    margin: 1rem 1.5rem 4rem;
}
#bloc-articles a{
    display: block;
    margin: 1rem auto 2rem;
}

/* pagination  */
#nav-pagination{
    text-align: center;
    margin: 3rem 0;
}
.pagination{
    display: inline-flex;
    margin-bottom: 2rem;
}
.pagination .page-item a{
    transition: all 0.1s ease-in-out;
    background-color: #F7F7F8;
    padding: 10px;
    border: solid 1px var(--mainSuperLightColor);
}
.pagination .active a, .pagination .page-item a:hover{
    background-color: var(--mainColor);
    color: white;
}
.hidden{
    display: none;
}


/* -------------PAGE ARTICLE---------------  */
.article{
    margin: 0 1.5rem;
}
.single-article img{
    width: 100%;
    border-radius: 10px;
}
.paragraphe-article{
    margin: 1rem 0;
}
.paragraphe-article p:nth-child(1){
    margin-bottom: 2rem;
}
.commentaire{
    min-height: 130px;
    margin: 0 1rem 2rem;
}
.commentaire h1{
    text-align: start;
}
.p-commentaire{
    padding: 5px 0 25px;
}
.btn-comment{
    color: white;
    background-color: darkcyan;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-comment:hover{
    transition: all 0.1s ease;
    transform: scale(1.05);
}


/* ----------------------PAGE METEO  ---------------------*/
.form-container{
    max-width: 700px;
    margin: 10rem auto;
}
.bloc-app-meteo{
    display: grid;
    grid-template: 125px 260px 100px / repeat(8, 12.5%);
    margin: 2rem auto 5rem;
    position: relative;
    border: 1px solid black;
    background-color: rgb(13, 143, 179);
}
.titre-meteo{
    /* deb row/deb col/ fin row/ fin col  */
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 0rem;
}
.bloc-logo-info{
    grid-area: 2 / 1 / 3 / -1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bloc-logo img{
    width: 10rem;
}
.bloc-info .temps{
    font-size: 1.8rem;
}
.bloc-info .temps::first-letter{
    text-transform: capitalize;
}
.bloc-info .temperature{
    font-size: 2.6rem;
}
.bloc-info .localisation{
    font-size: 1.8rem;
    word-wrap: break-word;
}
.jour-bloc-prevision{
    grid-area: 4 / 1 / 5 / -1;
}
.jour-bloc-prevision{
    display: grid;
    grid-template: 100px / repeat(7, 1fr);
}
.bloc-jour{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #f1f1f1;
    font-size: 1.2rem;
}
.bloc-jour:not(:last-child){
    border-right: 1px solid #f1f1f1;
}
.bloc-jour p{
    margin: 5px;
}


/* --------------------PAGE DASHBOARD USER ------------------- */
.commentaires{
    margin: 1rem;
    text-align: center;
}
.user-mail{
    font-style: italic;
}
.commentaires h2{
    font-size: 1.4rem;
    margin: 2rem 0 0.5rem;
}
.date-com{
    font-style: italic;
    padding: 0.5rem 0;
    font-size: 0.9rem;
}
.comment-user{
    font-weight: 600;
    padding: 0.5rem
}



/* ---------------------PAGE CONTACT----------------------------  */
.bloc-contact-user{
    text-align: center;
    margin: 1.5rem auto;
}
.main-bloc-form form{
    padding: 0 1.5rem 2rem;
}
.bloc-form label{
    display: block;
    text-align: start;
    margin-bottom: 5px;
}
.bloc-form input{
    height: 30px;
    margin-bottom: 1rem;
    width: 100%;
}
.main-bloc-form form p{
    font-size: 0.8rem;
    text-align: initial;
}
.btn-form{
    padding: 0.8rem 2rem;
    background-color: var(--mainColor);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    margin: 3rem auto 1.5rem;
    text-align: center;
    width: 67%;
    cursor: pointer;
    font-size: 0.9rem;
    display: block;
}
.btn-form:hover{
    background-color: var(--mainLightColor);
}
.send-contact{
    padding: 0.8rem 2rem;
    background-color: #6E6E6E;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    margin: 3rem auto 1.5rem;
    text-align: center;
    width: 67%;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    transition: all 0.5s ease-in-out;
}
.send-contact:hover{
    transform: scale(1.05);
}
.activeBtn{
    background-color: var(--mainColor);
}

textarea{
    height: 100px;
    width: 100%;
    margin-bottom: 2rem;
}
.retourAccueil:hover{
    color: white;
    background-color: var(--mainColor);
    padding: 10px;
    border-radius: 10px;
}


/* -----------------PAGE SE CONNECTER-------------------  */
.bloc-create-user, .bloc-connect-user{
    text-align: center;
    margin: 1.5rem auto;
}
.bloc-connect-user{
    height: 650px;
}
.form-container img{
   margin-bottom: 2rem;
}


/* ----------------PAGE CREER VOTRE COMPTE------------------  */
.message-erreur{
    background-color: #E01A1A;
    color: white;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 0.5rem 0;
}
.message-confirmation{
    background-color: #15a753;
    color: white;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 0.5rem;
}
a.login-user{
    color: #0071C2;
}
a.login-user:hover{
    color: white;
    background-color: var(--mainColor);
    padding: 5px 10px;
    border-radius: 5px;
}

/* --------PAGE CONFIRM MAIL-------  */
#section-confirm-mail{
    height: 70vh;
    margin: 10px;
}
#section-confirm-mail h1{
    margin-bottom: 1rem;
}
#section-confirm-mail a{
    color: var(--mainColor);
    padding: 5px;
}
#section-confirm-mail a:hover{
    background-color: var(--mainColor);
    color: white;
    transition: 0.3s;
}


/* --------------------PAGE MENTIONS LEGALES ----------------- */
#bloc-mentions{
    margin: 20px;
}
#bloc-mentions h1{
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
}
#bloc-mentions h2{
    color: var(--mainColor);
    margin: 5px 0;
    font-size: 1.3rem;
}
.bloc-legal{
    margin-bottom: 10px;
}




/* **********************PARTIE ADMIN**********************  */


/* -------------------PAGE DASHBOARD ADMIN--------------------------  */
.side-nav {
    position: fixed;
    height: 75vh;
    left: 0;
    top: 0;
  }
  
.wrapper {
    background-color: var(--mainColor);
    height: 100vh;
    width: 60px;
}
.nav-bloc-black{
    background-color: #222;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f21e;
}
.nav-bloc-black a{
    
    color: white;
}
.nav-bloc {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f21e;
}
.nav-bloc:hover {
    background-color: var(--mainLightColor);
}
.nav-bloc:hover .sub-nav {
    transform: translateX(60px);
}
.nav-bloc i {
    font-size: 1.5rem;
    color: rgb(240, 240, 240);
    transition:  0.5s ease-in-out ;
}
.nav-bloc:hover i {
    fill: #50bddf;
}
.sub-nav {
    padding: 0px;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--mainColor);
    z-index: -1;
    color: white;
    /* cacher a gauche */
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    border-right: 2px solid #222;
    border-left: 2px solid #222;
}
.sub-nav h3 {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
.sub-nav li {
    padding: 15px 20px;
    border-bottom: 1px solid #f2f2f21e;
}
.sub-nav li:hover {
    background-color: var(--mainLightColor);
}
.sub-nav li a {
    color: white;
    text-decoration: none;
}
#main-dashboard-admin{
    padding-left: 60px;
}
#main-dashboard-admin h1{
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    font-style: italic;
    color: black;
}
.container-admin{
    max-width: 600px;
    margin: 2rem auto;
}
.bloc-section-admin{
    height: 85px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f21e;
    margin: 1rem;
    border-radius: 10px;
}
.bloc-section-admin:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.03);
    filter: brightness(1.1);
    
}
.bloc-section-admin h2{
    text-transform: uppercase;
    font-size: 1rem;
}
.bloc-section-admin i{
    font-size: 1.5rem;
    color: rgb(240, 240, 240);
    padding: 5px 20px;
}
.bloc-section-admin a{
    display: contents;
}
.bloc-section-admin:nth-child(1){
    background-color: rgb(58, 226, 25);
}
.bloc-section-admin:nth-child(2){
    background-color: burlywood;
}
.bloc-section-admin:nth-child(3){
    background-color: coral;
}
.bloc-section-admin:nth-child(4){
    background-color: dodgerblue;
}
.bloc-section-admin:nth-child(5){
    background-color: rgb(187 123 201);
}

/* PAGE LISTE MEMBRES    */
.centrer-tableau{
    margin-bottom: 1rem;
}
.page-list-admin{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.page-list-admin thead{
    background-color: var(--mainLightColor);
    font-size: 1.3rem;
}
.page-list-admin td{
    padding: 1rem 0.5rem;
}
.page-list-admin tr:nth-child(even){
    background-color: var(--mainSuperLightColor);
}
.page-list-admin a i{
    font-size: 1.2rem;
    padding: 10px;
}
.display-creation{
    display: none;
}
.action-membre a{
    padding: 10px;
    font-size: 1rem;
}

/* ---------------PAGE LISTE ARTICLES------------- - */
table img{
    width: 60px;
}

/* PAGE AJOUTER ARTICLE  */
form{
    margin: 10px;
}

/* boutons des pages listes admin  */
.btn-action-admin{
    padding: 8px;
    background-color: forestgreen;
    color: white;
}
.btn-action-admin:hover{
    transition: all 0.1s ease;
    filter: brightness(1.3);
}
.btn-action-admin-red{
    padding: 10px;
    background-color: firebrick;
    color: white;
}
.btn-action-admin-red:hover{
    transition: all 0.1s ease;
    filter: brightness(1.3);
}


/* --------------PAGE MEMBRE.PHP---------------  */
.membre-table{
    margin: 1rem 0.5rem;
}
.membre-table p{
    font-size: 0.9rem;
}

/* PAGE MODIFIER ARTICLE  */
.img-modif-article{
    width: 100px;
    margin: 2rem;
}

/* PAGE LISTE COMMENTAIRE  */
.max-content{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}





/* ----------------MEDIA QUERIES----------------- */


@media screen and (min-width: 768px){
    /* ------------PAGE HOME ----------- */
    /* presentation */
    .bloc-presentation img{
        width: 80%;
    }
    .content-presentation{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    /* derniers articles  */
    .article-card{
        display: grid;
        grid-template-rows: 220px 1fr;
    }
    
    
    /* -------------------PAGE BLOG -------------- */
   .input-search{
       width: 40%;
       margin-right: 2rem;
   }
    .btn-search{
       width: 10%;
   }

    /* -------------PAGE ARTICLE---------------  */
    .single-article img{
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    .paragraphe-article{
        width: 75%;
        margin: 1rem auto;
    }
    .commentaire{
        width: 75%;
        margin: 0 auto;
    }
    
    /* PAGE METEO  */
    .bloc-app-meteo{
        grid-template: 125px 260px / repeat(8, 12.5%);
        margin: 15rem auto;
    }
    .bloc-logo-info{
        display: flex;
    }
    .bloc-logo{
        width: 50%;
    }
    .bloc-info{
        width: 50%;
    }
    .bloc-logo img{
        width: 60%;
    }
    
    
    /* PAGE CREATE USER  */
    .main-bloc-form form{
        width: 75%;
        margin: 0 auto;
    }

    /* PAGE DASHBOARD ADMIN  */
    .container-admin {
        max-width: 800px;
    }
    .section-dashboard-admin{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section-dashboard-admin a{
        width: 43%;
    }
    .section-dashboard-admin .deconnect{
        width: 43%;
    }

      /* PAGE AJOUT ARTICLE  */
    .section-article-admin{
        margin: auto 5rem;
    }
    .btn-form{
        width: 57%;
    }

    /* PAGE LISTE MEMBRE  */
    .display-creation{
        display: block;
    }


    /* PAGE LISTE COMMENTAIRE  */
    .max-content{
        width: 300px;
    }
}





@media screen and (min-width: 1024px){
    /* PAGE HOME  */
    #btn-burger {
        display: none;
    }
    .navbar{
        flex-direction: row;
        align-items: center;
    }
    .navbar-links{
        display: flex;
        width: auto;
    }
    .navbar-links ul{
        flex-direction: row;
    }
    .active, .navbar-links li:hover{
        background-color: #074489;
    }


    /* PAGE DASBOARD ADMIN  */
    .container-admin {
        max-width: 1000px;
        justify-content: center;
    }

    /* PAGE LISTE MEMBRE  */
    .centrer-tableau{
        text-align: center;
    }
    .page-list-admin{
        display: inline-table;
        max-width: 900px;
    }

    /* PAGE AJOUT ARTICLE  */
    .section-article-admin{
        margin: auto 10rem;
    }
}